<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <title>TinyApp</title>
</head>
<body>
  <div class="center">
<header>
    <% include ./partials/_header.ejs %>
</header>
    <!--<ul>
        <li><%= urls[shortURL] %> --> <!--<%= shortURL %></li>
</ul>
//-->



<form method="POST" action="/urls/<%= shortURL %>">
  <p>Short URL: <strong><%= shortURL %></strong><br></p>
  <input type="text" name="longURL" size="35" value="<%= urls[shortURL].link %>">

  <input type="submit" value="Update" class="button deleteB">
</form>
</div>
</body>
</html>