<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
    <% include ./partials/_header.ejs %>
</header>
    <!--<ul>
        <li><%= urls[shortURL] %> --> <!--<%= shortURL %></li>
</ul>
//-->



<form method="POST" action="/urls/<%= shortURL %>">
  Short URL: <strong><%= shortURL %></strong><br>
  <input type="text" name="longURL" size="35" value="<%= urls[shortURL] %>">

  <input type="submit" value="Update">
</form>

</body>
</html>